/* =================================================================================================
Typography - limited rules for just this tutorial rather than a complete set
================================================================================================= */
body {
  font-family: sans-serif;
  line-height: 1.375; }

p {
  margin: 0 0 1.375em 0;
  font-size: 1em;
  line-height: 1.375; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 2em;
  line-height: 2.05; }

h2 {
  font-size: 1.5em;
  line-height: 3.1;
  margin-bottom: -0.32em; }

/* =================================================================================================
Global styles
================================================================================================= */
body {
  padding: 0 1em;
  margin: 0; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0; }

section div {
  padding: 1em 0; }

.hero {
  height: 22em;
  background-color: #666666; }

[role="banner"],
.partner-quotes,
.executive-team,
.offset-columns,
[role="contentinfo"] {
  background-color: #e6e6e6; }
  [role="banner"] div,
  .partner-quotes div,
  .executive-team div,
  .offset-columns div,
  [role="contentinfo"] div {
    background-color: #b3b3b3; }

[role="contentinfo"] {
  padding: 0.45em 0;
  text-align: center; }
  [role="contentinfo"] p {
    margin: 0; }

@media screen and (min-width: 36em) {
  .partner-quotes,
  .executive-team,
  .offset-columns {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    zoom: 1;
    padding: 0;
    margin-bottom: 1.375em; }
    .partner-quotes:before, .partner-quotes:after,
    .executive-team:before,
    .executive-team:after,
    .offset-columns:before,
    .offset-columns:after {
      content: "";
      display: table; }
    .partner-quotes:after,
    .executive-team:after,
    .offset-columns:after {
      clear: both; }
    .partner-quotes > div,
    .executive-team > div,
    .offset-columns > div {
      float: left;
      margin-right: 2%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

  [role="banner"] {
    margin-bottom: 1.375em; }

  section div {
    padding: 1.8em 1em 0.93em 1em; }

  .hero {
    margin-bottom: 1.375em; }

  .partner-quotes div {
    width: 15%; }
  .partner-quotes .twain {
    margin-right: 0;
    float: right; }

  .executive-team .ceo {
    width: 32%; }
  .executive-team .other-executives {
    width: 66%;
    padding: 0;
    margin-right: 0;
    float: right; }
    .executive-team .other-executives > div {
      float: left;
      margin-right: 2%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .executive-team .other-executives div {
      width: 22.72727%;
      margin-right: 3.0303%; }
    .executive-team .other-executives .cio {
      margin-right: 0;
      float: right; }

  .offset-columns .first-offset {
    float: left;
    margin-left: 17%;
    width: 15%; }
  .offset-columns .second-offset {
    float: right;
    margin-right: 34%;
    width: 32%; } }
